# Git
.git
.github
.gitignore
README.md
LICENSE

# Docker
docker-compose.yml
.dockerignore

# Maven
target/
mvnw
mvnw.cmd
.mvn/

# IDE
.idea/
*.iml
*.iws
*.ipr
.vscode/
.project
.classpath
.settings/

# Логи и тесты
logs/
*.log
src/test/

# Системные файлы
.DS_Store
Thumbs.db